<header>
  <nav class="header-nav">
    <a class="header-title" href="/">ATN Store</a>
    <ul>
      <li><a href="/authors">Search Category</a></li>
      <li><a href="/authors/new">Add Category</a></li>
      <li><a href="/books">Search Product</a></li>
      <li><a href="/books/new">Add Product</a></li>
    </ul>
  </nav>
</header>